@font-face {
	font-family: 'Arad-bold';
	font-style: normal;
	font-weight: normal;
	src: url('font/Arad/Arad-Bold.woff2') format('woff2');	
    font-display: fallback; 
}

/* نمونه‌ای از قرارگیری فونت استاتیک در وب سایت*/
@font-face {
	font-family: Arad;
	font-style: normal;
	font-weight: normal;
	src: url('font/Arad/Arad-Regular.woff2') format('woff2');	
    font-display: fallback; 
}

* {
  font-family: Arad, "sans-serif" !important;
}

body {
  background: #cdd1d5;
}

#appname{
  text-align: center;
  font-size: 45px;
  font-family: 'Arad-bold';
}

.card {
  border-radius: 16px;
}
#content {
  resize: none;
}
